<div class="ad">
    <ks-swiper-container autoplay="3000" swiper="swiper" on-ready="onReadySwiper(swiper)">
        <ks-swiper-slide ng-repeat="s in ['http://www.mfwy.net/UploadFolder/2015-04-17/20150417143642425966758-699-344.JPG',
                'http://www.mfwy.net/UploadFolder/2014-11-28/20141128140157729278559-699-344.jpg',
                'http://www.mfwy.net/UploadFolder/2014-11-28/20141128135933820251974-699-344.jpg']">
            <a href="" style="display:block;width: 100%;margin:0 auto;"><img ng-src="{{s}}" width="100%" ></a>
        </ks-swiper-slide>
    </ks-swiper-container>
    <div class="ad-foot weui_cell_primary">
        <ul>
            <li><a href="javascript:" class="on"></a></li>
            <li><a href="javascript:"></a></li>
            <li><a href="javascript:"></a></li>
            <li><a href="javascript:"></a></li>
            <li><a href="javascript:"></a></li>
            <li><a href="javascript:"></a></li>
        </ul>
    </div>
</div>
