<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home home-icon"></i>
            <a href="/">主页</a>
        </li>
        <li><a href="/gallery">人脉详情</a></li>
    </ul>
</div>

<div class="page-content">
    <tabset>
        <tab heading="详情">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-1 control-label">姓名</label>

                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="entity.name" required/>
                    </div>
                    <label class="col-lg-1 control-label">公司</label>

                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="entity.company" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">地址</label>

                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="entity.address" required/>
                    </div>
                    <label class="col-lg-1 control-label">QQ</label>

                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="entity.qq" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-1 control-label">电话</label>

                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="entity.phone" required/>
                    </div>
                    <label class="col-lg-1 control-label">微信</label>

                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="entity.wechat" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">上传设计文件</label>

                    <div class="col-lg-5">
                        <a class="btn btn-primary btn-xs"  href="javascript:void 0"
                           ng-click="uploadFile()" >上传设计文件</a>
                    </div>
                </div>


                <div ng-show="entity.images[0]" class="form-group">
                    <label class="col-lg-1 control-label">图片</label>

                    <div class="col-lg-5" ng-repeat="a in entity.images">
                        <img class="img-thumbnail" ng-src="http://17quay.cn/v1/images?name={{a}}" alt=""/>
                    </div>

                </div>


                <div class="form-group">
                    <label class="col-lg-1 control-label"></label>

                    <div class="col-lg-10">

                        <button type="button" class="btn btn-primary" ng-click="submit()">
                            <i class="fa fa-save"></i>
                            保存
                        </button>
                    </div>
                    <div class="col-lg-1">
                        <a type="button" class="btn btn-success" href="javascript:window.history.back()">
                            <i class="fa fa-save"></i>
                            返回
                        </a>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>

