<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home home-icon"></i>
            <a href="/">主页</a>
        </li>
        <li><a href="/gallery">活动</a></li>
        <li class="active" ng-hide="entity.id">新增</li>
        <li class="active" ng-show="entity.id">编辑(<span>{{ ::entity.name }}</span>)</li>
    </ul>
</div>

<div class="page-content">
    <tabset>
        <tab heading="模板详情">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-1 control-label">名称</label>

                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="entity.name" required/>
                    </div>
                    <label class="col-lg-1 control-label">单价</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="entity.price" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">名片类型</label>

                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="entity.card.c_type" required/>
                    </div>
                    <label class="col-lg-1 control-label">名片工艺</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="entity.card.gongyi" required/>
                    </div>
                </div>

                <div class="form-group" ng-hide="entity.id">
                    <label class="col-lg-1 control-label">图片</label>

                    <div class="col-lg-5">
                        <input type="file" name="poster" accept="image/*" nv-file-select="" class="form-control"
                               uploader="uploaderPoster"/>
                    </div>
                    <div class="col-lg-1" ng-repeat="item in uploaderPoster.queue">
                        <button ng-click="item.upload()" class="btn btn-sm btn-primary"
                                ng-disabled="item.isReady || item.isUploading || item.isSuccess">上传
                        </button>
                    </div>


                </div>


                <div ng-show="entity.images[0]" class="form-group" >
                    <label class="col-lg-1 control-label">模板图片</label>

                    <div class="col-lg-5">
                        <img  width="220px" height="200px" class="img-thumbnail"  src="http://localhost:40002/v1/images?name={{entity.images[0]}}" alt=""/>
                    </div>

                </div>


                <div class="form-group">
                    <label class="col-lg-1 control-label"></label>

                    <div class="col-lg-10">

                            <button type="button" class="btn btn-primary" ng-click="submit()">
                                <i class="fa fa-save"></i>
                                保存

                        </button>
                    </div>
                    <div class="col-lg-1">
                        <a type="button" class="btn btn-success" href="javascript:window.history.back()">
                            <i class="fa fa-save"></i>
                            返回
                        </a>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>

