<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home home-icon"></i>
            <a href="/">主页</a>
        </li>
        <li class="active">订单</li>
    </ul>
</div>

<div class="page-content">

    <div class="hr hr-10 dotted hr-double"></div>
    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th style="width: 40px">订单号</th>
            <th>姓名</th>
            <th>地址</th>
            <th>电话</th>
            <!-- <th style="width: 200px;">简介</th>-->
            <th>总金额</th>
            <th>时间</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in data.value" style="height: 50px;">
            <td><span><i class="fa"></i>{{item.no}}</span></td>
            <td>{{item.userInfo.name}}</td>
            <td>{{item.userInfo.address}}</td>
            <td>{{item.userInfo.phone}}</td>
            <td>{{item.totalMoney}}</td>
            <!-- <td style="text-overflow:ellipsis;overflow:hidden;">{{item.info.brief}}</td>-->
            <td>{{item.createInfo.createTime|date:'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>{{item.note}}</td>
            <td>
                <a class="btn btn-success" href="/order/{{item.id}}">详情</a>
                <!--<a class="btn btn-primary" href="/activity/{{item.id}}">编辑</a>-->
                <a class="btn btn-pink" ng-click="delete(item.id)">删除</a></td>
        </tr>
        </tbody>
    </table>
    <div zy-odata-pager="data" class="text-center"></div>
</div>
