<div class="zfdd-center">
<p class="share"></p>
    <p></p>
    <a href="javascript:;" class="weui_btn weuibtn"  ng-click="addOrder()">微信支付</a>
<p class="weui_msg_desc" style="line-height: 2em;">微信支付更优惠，货到付款要加2元喔</p>
    <a href="javascript:;" class="weui_btn" style="background: linear-gradient(#bdbdbd,#5f5f5f);
    background: -webkit-linear-gradient(#bdbdbd,#5f5f5f);
background: -o-linear-gradient(#bdbdbd,#5f5f5f); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#bdbdbd,#5f5f5f); /* Firefox 3.6 - 15 */" ng-click="COD()">货到付款</a>
</div>