<div style="margin-top: 1em;border-top: 1px solid #000"></div>
<div ng-repeat="tpl in entity">
    <div class="weui_cell goods-01">
        <div class="wddd-goods01">
            <ks-swiper-container autoplay="3000" swiper="swiper" on-ready="onReadySwiper(swiper)">
                <ks-swiper-slide ng-repeat="s in tpl.images">
                    <a href="" style="display:block;width: 100%;margin:0 auto;height: 200px"><img
                            ng-src="http://17quay.cn/v1/images?name={{s}}" width="100%" height="100%"></a>
                </ks-swiper-slide>
            </ks-swiper-container>
        </div>
    </div>
    <div class="weui_cells no-border" style="padding-left:0.8em;padding-right:0.8em;border-bottom:1px solid #ccc;margin-top:-0.3em;">

        <div class="weui_cell_bd " style="">
            <p style="font-size: 1.4em;color:#898989">{{tpl.name}}</p>
            <p style="font-size: 0.8em;padding-bottom:0.5em;color:#898989">价格：<span style="color:#fe4100">{{tpl.price}}</span> 元</p>
            <a  ng-click="tplskip(tpl.id,tpl.price,tpl.name)"
               class="btn-sure1 weui_btn weui_btn_plain_default" style="background: transparent;margin-top:0.3em;">使用此模板下单</a>
        </div>
    </div>
</div>

