<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home home-icon"></i>
            <a href="/">主页</a>
        </li>
        <li class="active">历史订单</li>
    </ul>
</div>

<div class="page-content">
    <div class="row">
        <div class="col-lg-6">
            <label style="display: inline-block;text-align: left"><a style="display: inline-block;"
                                                                     class="btn btn-success btn-xs"
                                                                     href="javascript:void 0" ng-click="importOrder()">导出excel</a></label>

        </div>
        <div class="col-lg-6">
            <div id="sample-table-2_filter" class="dataTables_filter">
                <label><input style="display: inline-block;width: 200px" type="search" class="form-control input-sm"
                              placeholder="订单号/姓名" ng-model="search" aria-controls="sample-table-2">
                    <a style="display: inline-block" class="btn btn-success btn-xs" href="javascript:void 0"
                       ng-click="orderSearch()">搜索</a></label>
            </div>
        </div>

    </div>
    <div class="hr hr-10 dotted hr-double"></div>
    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th style="width: 70px">订单号</th>
            <th>姓名</th>
            <th>地址</th>
            <th>电话</th>
            <!-- <th style="width: 200px;">简介</th>-->
            <th>总金额</th>
            <th>订单类型</th>
            <th>时间</th>
            <th>所属城市</th>
            <th>备注</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in data.value">
            <td><span><i class="fa"></i>{{item.no}}</span></td>
            <td>{{item.userInfo.name}}</td>
            <td>{{item.userInfo.address.province}}{{item.userInfo.address.city}}{{item.userInfo.address.district}}{{item.userInfo.address.detail}}</td
            <td>{{item.userInfo.phone}}</td>
            <td>{{item.totalMoney}}</td>
            <!-- <td style="text-overflow:ellipsis;overflow:hidden;">{{item.info.brief}}</td>-->
            <td>
                <span ng-show="item.order_type==1">直接印刷</span>

                <span ng-show="item.order_type==2">看搞印刷</span>
                <span ng-show="item.order_type==3">重新设计</span>

                <span ng-show="item.order_type==4">快印名片</span>
                <span ng-show="item.order_type==5">名片模板</span>
                <span ng-show="item.order_type==6">高端定制</span>

            </td>
            <td>{{item.createInfo.createTime|date:'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>
                <span ng-show="item.currentAdd==1">甘肃省</span>

                <span ng-show="item.currentAdd==2">山东省</span>

            </td>
            <td>{{item.note}}</td>
            <td>
                <span href="javascript:void (0)">已完成</span>
            </td>
            <td>
                <a class="btn btn-success btn-xs" href="/order/{{item.id}}">详情</a>
                <!--                <a class="btn btn-primary" ng-show="item.states==1||item.states==2" href="/activity/{{item.id}}">发货</a>
                                <a class="btn btn-pink" ng-click="delete(item.id)">删除</a></td>-->
        </tr>
        </tbody>
    </table>
    <div zy-odata-pager="data" class="text-center"></div>
</div>
