<div class="ad">
    <ks-swiper-container autoplay="3000" swiper="swiper" on-ready="onReadySwiper(swiper)">
        <ks-swiper-slide ng-repeat="s in advImages">
            <a href="" style="display:block;width: 100%;margin:0 auto;height: 250px"><img ng-src="http://17quay.cn/v1/images?name={{s.images||s}}" width="100%" height="100%" ></a>
        </ks-swiper-slide>
    </ks-swiper-container>
    <div class="ad-foot weui_cell_primary">
        <ul>
            <li><a href="javascript:" class="on"></a></li>
            <li><a href="javascript:"></a></li>
            <li><a href="javascript:"></a></li>
            <li><a href="javascript:"></a></li>
            <li><a href="javascript:"></a></li>
            <li><a href="javascript:"></a></li>
        </ul>
    </div>
</div>
