<div class="zrm-center">
    <div class="weui_cell zrm-search">
        <input type="text" class="input-search" placeholder="搜索你想要的名片"/>
        <i class="fa fa-search" style="position: absolute;top:1em;right:15px;"></i>
    </div>
    <div ng-repeat="contact in contactlist">
    <div class="weui_cell goods-01">
        <div class="wddd-goods01">
            <ks-swiper-container autoplay="3000" swiper="swiper" on-ready="onReadySwiper(swiper)">
                <ks-swiper-slide ng-repeat="s in contact.images">
                    <a href="" style="display:block;width: 100%;margin:0 auto;"><img ng-src="http://17quay.cn/v1/images?name={{s}}" width="100%" ></a>
                </ks-swiper-slide>
            </ks-swiper-container>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd" style="padding:20px 10px 10px;">
            <img  src="../../images/cx-logo.png" width="50" alt=""/>
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <p class="title">{{contact.name}}</p>
            <p class="brief">{{contact.company}}</p>

        </div>
        <div class="weui_cell_ft">
            <a href="javascript:" class="save" style="color:#888">保存到通讯录</a>
        </div>
        <p class="lxfs" style="padding-left:65px;display: inline-block"><img src="../../images/weixin.png" width="28" alt=""/><img src= "../../images/qq.png" width="28" alt=""/><img src="../../images/phone.png" width="28" alt=""/>
            <span style="vertical-align: top;line-height: 30px;color:#888">{{contact.phone}}</span></p>
    </div>
    </div>

</div>





