<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home home-icon"></i>
            <a href="/">主页</a>
        </li>
        <li><a href="/technology">工艺类型</a></li>
    </ul>
</div>

<div class="page-content">
    <tabset>
        <tab heading="工艺类型">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-1 control-label">名称</label>

                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="entity.name" required/>
                    </div>
                    <label class="col-lg-1 control-label">价格</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="entity.price" required/>
                    </div>
                </div>
                <div class="form-group" ng-hide="entity.id">
                    <label class="col-lg-1 control-label">图片</label>

                    <div class="col-lg-5">
                        <input type="file" name="poster" accept="image/*" nv-file-select="" class="form-control"
                               uploader="uploaderPoster"/>
                    </div>
                    <div class="col-lg-1" ng-repeat="item in uploaderPoster.queue">
                        <button ng-click="item.upload()" class="btn btn-sm btn-primary"
                                ng-disabled="item.isReady || item.isUploading || item.isSuccess">上传
                        </button>
                    </div>
                </div>


                <div ng-show="entity.images" class="form-group">
                    <label class="col-lg-1 control-label">图片</label>

                    <div class="col-lg-5">
                        <img class="img-thumbnail" ng-src="http://17quay.cn/v1/images?name={{entity.images}}" alt=""/>
                    </div>

                </div>


                <div class="form-group">
                    <label class="col-lg-10 control-label"></label>

                    <div class="col-lg-1">
                        <button type="button" class="btn btn-primary" ng-click="modifyPaper()" >
                            <i class="fa fa-save"></i>
                            保存
                        </button>
                    </div>
                    <div class="col-lg-1">
                        <button type="button" class="btn btn-success" href="javascript:window.history.back()">
                            <i class="fa fa-save"></i>
                            返回
                        </button>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>

