<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home home-icon"></i>
            <a href="/">主页</a>
        </li>
        <li class="active">活动</li>
    </ul>
</div>

<div class="page-content">
    <div class="text-right">
        <a href="/dingzhi/new" class="btn btn-primary btn-sm">
            <i class="fa fa-plus"></i> 新增
        </a>
    </div>
    <div class="hr hr-10 dotted hr-double"></div>
   <div class="row">
       <div class="col-lg-1"></div>
       <div class="col-lg-2" ng-repeat="item in data.value">
           <div><a href="/template/{{item.id}}" style="text-underline: none">
               <img style="display: block;margin: 0 auto" ng-src="http://17quay.cn/v1/images?name={{item.images[0]}}"
                    alt="" width="220px" height="200px"/>
               <span style="display: block;margin: 0 auto;text-align: center;font-size: 18px">{{item.num}}-{{item.name}}</span></a>
           </div>
           <div style="width: 100%;text-align: right">
               <a href="javascript:;" class="btn btn-info btn-xs" ng-click="delete(item.id)" >删除</a>
           </div>
       </div>
       <div class="col-lg-1"></div>
   </div>
    <div zy-odata-pager="data" class="text-center"></div>
</div>
