<link rel="stylesheet" href="/css/home.css"/>
<div class="weui_cells weui_cells_split" style="background: #fe4101">
    <div class="weui_cell">
        <div class="weui_cell_hd"><i class="fa fa-angle-left" style="font-size: 2em;color: #fff"></i></div>
        <div class="weui_cell_bd" style="">
            <a href="javascript:if(window.history.back()){window.history.back()}else {location.href='/'}" style="font-size: 1em;color: #fff" >上一步</a>
        </div>
        <div class="weui_cell_bd weui_cell_primary" style="text-align: center;">
            <a href="javascript:void(0)" class="muban" style="color:#fff;">快印名片</a>
        </div>
    </div>
</div>
