<link rel="stylesheet" href="/css/home.css"/>
<div class="weui_cells weui_cells_split" style="background: #fe4101">
    <div class="weui_cell">

        <div class="weui_cell_bd" style="">
            <!--<select name="" id="zhandian">
                <option value="lanzhou">兰州站</option>
                <option value="lanzhou">成都站</option>
                <option value="lanzhou">重庆站</option>
            </select>-->
        </div>
        <div class="weui_cell_bd weui_cell_primary" style="text-align: right;">
            <img src="/images/logo.png" height="26" alt=""/>
        </div>
    </div>
</div>


