<link rel="stylesheet" href="/css/home.css"/>
<div class="weui_cells weui_cells_split" style="background: #fe4101">
    <div class="weui_cell" style="padding:5px 15px;">
        <div class="weui_cell_hd"><i class="fa fa-angle-left" style="font-size: 2em;color: #fff"></i></div>
        <div class="weui_cell_bd" style="">
            <a href="javascript:if(window.history.back()){window.history.back()}else {location.href='/'}" style="font-size: 1em;color: #fff" >上一步</a>
        </div>
        <div class="weui_cell_bd weui_cell_primary" style="text-align: center;">
            <i class="fa" style="display:inline-block;width:32px;height:32px;font-size: 1.3em;
            color: #fff;vertical-align: top;background:url('../../images/gddz-l.png') no-repeat center;background-size: 80%;"></i>
            <a href="javascript:void(0)" class="muban" style="color:#fff;line-height: 32px;">高端定制</a>
        </div>
    </div>
</div>


