<div class="gddz-center">
    <div ng-repeat="order in orders">
    <div class="weui_cell goods-01">
        <div class="wddd-goods01">
            <ks-swiper-container autoplay="3000" swiper="swiper" on-ready="onReadySwiper(swiper)">
                <ks-swiper-slide ng-repeat="s in ['http://www.mfwy.net/UploadFolder/2015-04-17/20150417143642425966758-699-344.JPG',
                'http://www.mfwy.net/UploadFolder/2014-11-28/20141128140157729278559-699-344.jpg',
                'http://www.mfwy.net/UploadFolder/2014-11-28/20141128135933820251974-699-344.jpg']">
                    <a href="" style="display:block;width: 100%;margin:0 auto;"><img ng-src="{{s}}" width="100%" ></a>
                </ks-swiper-slide>
            </ks-swiper-container>
        </div>
    </div>
    <div class="weui_cell" styel="border-bottom: 1px solid #d7d7d7;">
        <div class="weui_cell_bd weui_cell_primary">
            <p class="title">{{order.name}}</p>
            <p >价格：<span class="jine">￥{{price}}</span></p>
        </div>
        <div class="weui_cell_ft">
            <a  ng-click="buy()" href="/custom/dzxq/{{order.id}}" class="buy color-fe">立即购买</a>
        </div>
    </div>
</div>
</div>