<div class="weui_cell ">
    <div class="weui_cells ddxq-cell">
        <p class="weui_cell_bd" style="width:50%;">纸张：<span>{{orderDedail.card.c_type}}</span></p>

    </div>
    <div class="weui_cells ddxq-cell">
        <p class="weui_cell_hd weui_cell_primary" style="line-height: 2.0em">工艺：<span>{{orderDedail.card.gongyi}}</span></p>
    </div>
    <div class="weui_cells ddxq-cell">
        <p class="weui_cell_bd" style="width:50%;">数量：<span>{{orderDedail.num}}</span></p>

        <p class="weui_cell_hd weui_cell_primary">价格：<span class="jine danjia">￥{{orderDedail.totalMoney}}</span></p>
    </div>

</div>


<form class="weui_cells weui_cells_form" novalidate name="addressFrom">
    <div class="weui_cell">
        <div class="weui_cell_hd" style="padding-right: 2em"><label class="weui_label">收货姓名:</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" disabled="disabled" required ng-model="orderDedail.userInfo.name">
        </div>
        <div class="weui_cell_ft">
            <i class="weui_icon_warn"></i>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd" style="padding-right: 2em"><label class="weui_label">公司名称:</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" disabled="disabled" ng-model="orderDedail.userInfo.company" >
        </div>
        <div class="weui_cell_ft">
            <i class="weui_icon_warn"></i>
        </div>
    </div>


   <!-- <div class="weui_cell">
        <div class="weui_cell_hd" style="padding-right: 2em"><label class="weui_label">详细地址:</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" disabled="disabled" type="text" ng-model="orderDedail.userInfo.address" >
        </div>
        <div class="weui_cell_ft">
            <i class="weui_icon_warn"></i>
        </div>
    </div>-->
    <div class="weui_cell">
        <div class="weui_cell_hd" style="padding-right: 2em"><label class="weui_label">省份:</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" disabled="disabled" type="text" ng-model="orderDedail.userInfo.address.province" >
        </div>
        <div class="weui_cell_ft">
            <i class="weui_icon_warn"></i>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd" style="padding-right: 2em"><label class="weui_label">城市:</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" disabled="disabled" type="text" ng-model="orderDedail.userInfo.address.city" >
        </div>
        <div class="weui_cell_ft">
            <i class="weui_icon_warn"></i>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd" style="padding-right: 2em"><label class="weui_label">地区:</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" disabled="disabled" type="text" ng-model="orderDedail.userInfo.address.district" >
        </div>
        <div class="weui_cell_ft">
            <i class="weui_icon_warn"></i>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd" style="padding-right: 2em"><label class="weui_label">详细地址:</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" disabled="disabled" type="text" ng-model="orderDedail.userInfo.address.detail" >
        </div>
        <div class="weui_cell_ft">
            <i class="weui_icon_warn"></i>
        </div>
    </div>



    <div class="weui_cell">
        <div class="weui_cell_hd" style="padding-right: 2em"><label class="weui_label">联系电话:</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" disabled="disabled" type="text" ng-model="orderDedail.userInfo.phone" >
        </div>
        <div class="weui_cell_ft">
            <i class="weui_icon_warn"></i>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd" style="padding-right: 1em;text-align: right;"><label class="weui_label" style="margin-left: 1em">QQ:</label>
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" disabled="disabled" type="text" ng-model="orderDedail.userInfo.QQ">
        </div>
    </div>

    <div class="weui_cell">
        <div class="weui_cell_hd" style="padding-right: 2em;vertical-align: top;"><label class="weui_label">备<span
                style="display: inline-block;width: 1.9em"></span>注:</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <textarea class="weui_textarea" disabled="disabled"  ng-model="orderDedail.userInfo.note"
                      style="padding: 0;background: #fff;"></textarea>
        </div>

    </div>
    <div class="weui_cell">
    <button type="submit" class="weui_btn weuibtn"  onclick="window.history.back()">返回</button></div>
</form>



