<div class="dzxq-ad">
    <div class="weui_cell goods-01">
        <div class="wddd-goods01">
            <ks-swiper-container autoplay="3000" swiper="swiper" on-ready="onReadySwiper(swiper)">
                <ks-swiper-slide ng-repeat="s in customImages">
                    <a href="" style="display:block;width: 100%;margin:0 auto;"><img ng-src="{{imagesPath}}{{s}}" width="100%" ></a>
                </ks-swiper-slide>
            </ks-swiper-container>
        </div>
    </div>
    <div class="weui_cell no-border" style="padding:10px 0;" ng-controller="WeiXinController">

        <a href="javascript:;" class="a-btn" ng-click="chooseImage()"><i class="fa fa-camera"> </i> 选择照片</a>
        <a href="javascript:;" class="a-btn" ng-click="upload()"><i class="fa fa-upload"> </i> 上传照片</a>
        <div ng-show="toast.upload">
            <div class="weui_mask_transparent"></div>
            <div class="weui_toast">
                <i class="weui_icon_toast"></i>
                <p class="weui_toast_content" ng-bind="toast.message"></p>
            </div>
        </div>
    </div>
    <div class="line-12" style="border-bottom: 2px solid #fe4100;background:#f0eff5"></div>
</div>
