

<div class="weui_cell " ng-controller="WeiXinController">
    <div class="weui_cells ddxq-cell" >
        <p class="weui_cell_bd" style="width:50%;">纸张：<span>{{order.card.c_type}}</span></p>

    </div>
    <div class="weui_cells ddxq-cell" >
        <p class="weui_cell_hd weui_cell_primary">工艺：<span >{{order.card.gongyi}}</span></p>
    </div>
    <div class="weui_cells ddxq-cell" >
        <p class="weui_cell_bd" style="width:50%;">数量：<span >{{order.num}}</span></p>
        <p class="weui_cell_hd weui_cell_primary">价格：<span class="jine danjia">￥{{order.totalMoney}}</span></p>
    </div>

</div>
<div class="good-info">
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label">收货姓名：</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" ng-model="order.userInfo.name" type="text"/>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label" >公司名称：</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" ng-model="order.userInfo.company" type="text"/>
            </div>
        </div>
    </div>
    <div class="weui_cells ">
        <div class="weui_cell weui_cell_select weui_select_after">
            <div class="weui_cell_hd">
                <label class="weui_label">省&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;份：</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary ">
                <select required="" class="weui_select type"  ng-model="address.province" ng-options="key as key for (key,value) in division"
                        ng-change="address.city='';address.district='';">
                    <option value="">省</option>
                </select>
            </div>
        </div>
        <div class="weui_cell   weui_select_after">
            <div class="weui_cell_hd">
                <label class="weui_label">城&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;市：</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select type"  ng-model="address.city" ng-options="key as key for (key,value) in division[address.province]"
                        ng-change="address.district='';">
                    <option value="">市</option>
                </select>
            </div>
        </div>

        <div class="weui_cell weui_cell_select weui_select_after">
            <div class="weui_cell_hd">
                <label class="weui_label">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区：</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary ">
                <select class="weui_select type"  ng-change="or()" ng-model="address.district" ng-options="value as value for value in division[address.province][address.city]">
                    <option value="">区</option>
                </select>
            </div>
        </div>

    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd">
            <label class="weui_label" >详细地址：</label>
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" ng-change="or()" ng-model="address.place" type="text"/>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd">
            <label class="weui_label" >联系电话：</label>
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" ng-model="order.userInfo.phone" type="text"/>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd">
            <label class="weui_label">QQ：</label>
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" ng-model="order.userInfo.QQ" type="text"/>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_bd" style="vertical-align: top;">
            <label class="weui_label">备注：</label></div>
        <div class="weui_cell_hd weui_cell_primary " style="border-bottom: none;">
            <textarea style="width:100%;" rows="3" ng-model="order.userInfo.note"></textarea>
        </div>
    </div>
    <p class="share">点击右上角分享到朋友圈立减2元</p>
    <a type="button"  class="weui_btn" style="background: #f11e09" ng-click="tijiao()">提交订单</a>
</div>

